/*
 ************************************************************************************
 * Copyright (C) 2013-2018 Openbravo S.L.U.
 * Licensed under the Openbravo Commercial License version 1.0
 * You may obtain a copy of the License at http://www.openbravo.com/legal/obcl.html
 * or in the legal folder of this module distribution.
 ************************************************************************************
 */

.stockinstorelines:hover {
  opacity: 0.75;
  cursor: pointer;
}

.stockinstorelines:active {
  background-color: #cccccc;
}

.paymentmethoditems {
  position: relative;
  float: left; 
  width: 120px; 
  min-width: 25%;
  color: #666666; 
  text-align: center; 
  cursor: pointer;
}

.paymentmethoditemsdisabled {
  cursor: not-allowed;
  opacity: .5;
}

@media all and (max-width: 800px) {
  .paymentmethoditems {
    min-width: 33%;
  }
}

.float-left {
  float: left !important;
}

.height15 {
  height: 15px;
}

.color-yellow {
  color: yellow;
}

.splitline-table {
  width: 100%;
  background-color: #fff;
  max-height: 200px !important;
}

.split-line {
  width: 100%;
  clear:both;
  background-color:#fff;
  height: 35px;
  padding-top: 2px;
}

.splitline-message {
  padding: 6px 0px 0px 14px;
}

.splitline-deletebtn {
  border: 1px solid #D2D2D2 !important;
  margin: 2px 0 0 5px !important;
}

.splitline-number-edit {
  width: 30px;
  height: 23px;
}

.splitline-line-label {
  float: left;
  width: 50%;
  background-color: #e2e2e2;
  height: 35px;
  padding-right: 5px;
  text-align: right;
  font-size: 16px;
  color: black;
}

.splitline-line-editors {
  float: left;
  width: 40%;
  text-align: left;
  padding-left: 5px;
}

.splitline-numbereditor-minusbtn {
  border: 1px solid #E2E2E2 !important;
  margin: -2px 2px 0 0 !important;
}

.splitline-numbereditor-plusbtn {
  border: 1px solid #E2E2E2 !important;
  margin: -2px 0 0 2px !important;
}

.splitline-info {
  background-color: #fff;
  height: 32px;
  color: black;
  font-size: 16px;
}

.splitline-info-numbers {
  background-color: #fff;
  height: 34px;
  color: black;
}

.width6 {
  width: 6% !important;
}

.width40 {
  width: 40% !important;
}

.width52 {
  width: 52% !important;
}

.twoAddrLayout {
  width: 50%;
  float: left;
}

.twoAddrLayoutHeader {
  float: left;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  font-size: 16px;
  padding-top: 1px;
}

@media all and (max-width: 800px) {
  .twoAddrLayout {
    width: 100%;
  }     
  .width40 {
   width: 20% !important;
  }
  .width52 {
    width: 75% !important;
  }
}

.splitline-info-label {
  width: 25%;
  float: left;
  background-color: #e2e2e2;
  border: 1px solid #fff;
  vertical-align: middle;
}

.splitline-info-label-difference {
  width: calc(25% - 12px);
}

.splitline-info-editor {
  width: 25%;
  float: left;
  background-color: #fff;
  text-align: center
}

.splitline-info-editor-input {
  width: 40px;
  height: 23px;
}

.splitline-lines-number-hide {
  display: none;
}

.splitline-numberinfo {
  width: 100%;
  clear:both;
  background-color: #fff;
  height: 55px;
  padding-top: 2px;
}

@media all and (max-width: 800px) {
  .splitline-number-edit {
    height: 45px;
  }
  .splitline-line-label {
    width: 35%;
    height: 53px;
  }
  .splitline-line-editors {
    width: 59%;
  }
  .splitline-info {
    height: 60px;
  }
  .splitline-info-label {
    width: 33%;
    height: 58px;
  }
  .splitline-info-label-difference {
    width: calc(33% - 4px);
    height: 58px;
  }
  .splitline-info-hide-lines {
    display: none;
  }
  .splitline-info-editor {
    width: 33%;
  }
  .splitline-lines-number-hide {
    display: block;
  }
  .splitline-table {
    max-height: 110px !important;
  }
}

.paymentmethoditemstext {
  font-family: 'Helvetica Neue', 'Nimbus Sans L', Arial, sans-serif;
  font-size: 16px;
  height: 40px;
  text-align: center;
  padding: 2px 0px 0px 0px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.paymentmethoditemsimage {
  width: 102px;
  margin: 0 auto;
}

.paymentmethodnotitems {
  width: 100%; 
  height: 80px;
  padding-top: 30px;
  color: #666666; 
  text-align: center; 
  font-size: 20px;
  font-weight:bold;
}
.iconServices_unreviewed {
  width: 27px;
  height: 26px;
  background-image: url('./../img/iconServices_unreviewed.png');
}

.iconServices_reviewed {
  width: 27px;
  height: 26px;
  background-image: url('./../img/iconServices_reviewed.png');
}

.product_category_tree_identifier {
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis;
  padding-top: 4px; 
  height: 20px;
}

.product_category button.btnselect {
  padding: 8px 0px 8px 10px !important;
}

.product_category_title {
  line-height: 27px; 
  font-size: 18px; 
  font-weight: bold; 
  border-top: 1px solid #cccccc; 
  padding-left: 10px;
}

button.btnbp:disabled {
  text-decoration: none;
  background-color: white;
  color: #000;
  min-width: 115px;
}

.product_category_search li.selected>button.btnselect-browse {
  background-color: #f8e859;
  color: #000000;
}

.addressbillbutton {
  background-image: url('./../../org.openbravo.retail.posterminal/img/iconInvoicingAddress.svg');
  background-repeat: no-repeat;
  background-size: 16px 18px;
  background-position: 5px 1px;
  width: 26px;
  height: 22px;
}

.addressshipbutton {
  background-image: url('./../../org.openbravo.retail.posterminal/img/iconShippingAddress.svg');
  background-repeat: no-repeat;
  background-size: 21px 21px;
  background-position: 0px 0px;
  width: 26px;
  height: 22px;
}

.addresshipitems {
  display: table-cell;
  background-image: url('./../../org.openbravo.retail.posterminal/img/iconShippingAddress.svg');
  background-repeat: no-repeat;
  background-size: 21px 21px;
  background-position: 12px 5px;
  width: 35px;
  height: 24px;
}

.addressbillitems {
  display: table-cell;
  background-image: url('./../../org.openbravo.retail.posterminal/img/iconInvoicingAddress.svg');
  background-repeat: no-repeat;
  background-size: 16px 18px;
  background-position: 8px 1px;
  width: 28px;
  height: 24px;
}

.addressmenuselector {
  background-image: url('./../../org.openbravo.retail.posterminal/img/iconDownArrow.png');
  background-repeat: no-repeat;
  background-size: 14px 9px;
  background-position: 21px 6px;
  width: 35px;
  height: 24px;
  float: right;
}

.fix-bgposition-y {
  background-position-y: 0px;
}

.iconRemove {
  width: 30px;
  height: 30px;
  background-image: url('./../../org.openbravo.mobile.core/assets/img/iconSelectorRemove.svg');
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: 3px 3px;
}

.iconSortNone {
  width: 58px;
  height: 30px;
  background-image: url('./../../org.openbravo.mobile.core/assets/img/iconSelectorSortDisabled.svg');
  background-size: 52px 28px;
  background-repeat: no-repeat;
}

.iconSortAsc {
  width: 58px;
  height: 30px;
  background-image: url('./../../org.openbravo.mobile.core/assets/img/iconSelectorSortAscending.svg');
  background-size: 52px 28px;
  background-repeat: no-repeat;
}

.iconSortDesc {
  width: 58px;
  height: 30px;
  background-image: url('./../../org.openbravo.mobile.core/assets/img/iconSelectorSortDescending.svg');
  background-size: 52px 28px;
  background-repeat: no-repeat;
}

@media all and (max-width: 800px) {
  div[id*=stBPAssignToReceipt_scrollArea] {
    max-height: 497px !important;
  }
}

.receipt-customer-selector-editor {
  width: 870px !important;
}

@media (min-width: 350px) and (max-width: 470px) {
  .taskBrowserHeader .label {
    display: none;
  }
  .taskBrowserHeader .value {
    width: 145px;
  }
  .receipt-customer-selector-editor {
    width: calc(100% - 24px) !important; 
  }
}
@media (min-width: 471px) and (max-width: 549px) {
  .taskBrowserHeader .label {
    display: none;
  }
  .taskBrowserHeader .value {
    width: 220px;
  }
  .receipt-customer-selector-editor {
    width: calc(100% - 24px) !important; 
  }
}
@media (min-width: 550px) and (max-width: 649px) {
  .taskBrowserHeader .label {
    display: inline-block;
  }
  .taskBrowserHeader .value {
    width: 230px;
  }
  .receipt-customer-selector-editor {
    width: calc(100% - 24px) !important; 
  }
}
@media (min-width: 650px) and (max-width: 800px) {
  .taskBrowserHeader .label {
    display: inline-block;
  }
  .taskBrowserHeader .value {
    width: 330px;
  }
  .receipt-customer-selector-editor {
    width: calc(100% - 24px) !important; 
  }
}

@media (min-width: 801px) and (max-width: 899px) {
  .taskBrowserHeader .label {
    display: none;
  }
  .taskBrowserHeader .value {
    width: 145px;
  }
  .receipt-customer-selector-editor {
    width: 780px !important; 
  }
}
@media (min-width: 900px) and (max-width: 979px) {
  .taskBrowserHeader .label {
    display: none;
  }
  .taskBrowserHeader .value {
    width: 200px;
  }
}
@media (min-width: 980px) and (max-width: 1119px) {
  .taskBrowserHeader .label {
    display: inline-block;
  }
  .taskBrowserHeader .value {
    width: 145px;
  }
}
@media (min-width: 1120px) and (max-width: 1199px) {
  .taskBrowserHeader .label {
    display: inline-block;
  }
  .taskBrowserHeader .value {
    width: 185px;
  }
}
@media (min-width: 1200px) {
  .taskBrowserHeader .label {
    display: inline-block;
  }
  .taskBrowserHeader .value {
    width: 260px;
  }
}

.customer-property-label {
  font-size: 15px; 
  color: black; 
  text-align: right; 
  border: 1px solid #FFFFFF; 
  background-color: #E2E2E2; 
  width: 20%; 
  height: 28px; 
  padding: 12px 5px 1px 0; 
  float: left;
}
.customer-property-text {
  border: 1px solid #FFFFFF; 
  float: left; 
  width: 75%;
}

@media (min-width: 350px) and (max-width: 520px) {
  .customer-property-label {
    width: 40%;
  }
  .width40 {
    width: 40% !important;
  }
  .customer-property-text {
    width: 54%;
  }
  .width52 {
    width: 54% !important;
  }
}
@media (min-width: 521px) and (max-width: 800px) {
  .customer-property-label {
    width: 30%;
  }
  .width40 {
    width: 30% !important;
  }
  .customer-property-text {
    width: 64%;
  }
  .width52 {
    width: 64% !important;
  }
}

.whitecolor {
  color: white;
}

.blackecolor {
  color: black;
}


.orderline-quantity {
  float: left;
  width: 65px;
  text-align: right;
}

.orderline-price,
.orderline-gross {
  float: left;
  width: 105px;
  text-align: right;
}

.orderline-productname {
  float: left;
  width: calc(100% - 275px);  /* The same than calc(100% - 65px - 2 * 105px); */
  padding: 0px;
}

.orderline-characteristicsDescription {
  width: calc(100% - 210px);  /* The same than calc(100% - 2 * 105px); */
  color:grey;
  padding-left: 0%;
  padding-top: 4px;
  font-size: 14px;
  clear: both;
}

.order-total-label {
  float: left;
  width: calc(100% - 275px);  /* The same than calc(100% - 65px - 2 * 105px); */
}

.order-total-qty {
  float: left;
  width: 65px;
  text-align: right;
  font-weight: bold;
}

.order-total-gross {
  float: left;
  width: 210px;
  text-align: right;
  font-weight: bold;
}

.order-tax-label {
  float: left;
  width: calc(100% - 210px);  /* The same than calc(100% - 2 * 105px); */
}

.order-tax-base,
.order-tax-total {
  float: left;
  width: 105px;
  text-align: right;
}

/*
   Media query for dynamic 'unit price' and 'gross price' widths from 80px to 105px when
   the viewport aspect ratio goes from 5:4 (1.25) to 3:2 (1.5) respectively in landscape mode and
   from 10:16 (0.625) to 3:4 (0.75) respectively in portrait mode.
   The product name is also adapted to fill the remaining space.
*/

@media all and (min-width: 801px) and (max-aspect-ratio: 150/100), (max-width: 800px) and (max-aspect-ratio: 3/4) {
  .orderline-price,
  .orderline-gross {
    width: calc((25/79 * 100%) - 39px);
  }

  .orderline-productname {
    width: calc((29/79 * 100%) + 13px);  /* The same than calc(100% - 65px - 2 * ((25/79 * 100%) - 39px)); */
  }

  .orderline-characteristicsDescription {
    width: calc((29/79 * 100%) + 78px);  /* The same than calc(100% - 2 * ((25/79 * 100%) - 39px)); */
  }

  .order-total-label {
    width: calc((29/79 * 100%) + 13px);  /* The same than calc(100% - 65px - 2 * ((25/79 * 100%) - 39px)); */
  }

  .order-total-gross {
    width: calc((50/79 * 100%) - 78px);  /* The same than calc(2 * ((25/79 * 100%) - 39px)); */
  }

  .order-tax-label {
    width: calc((29/79 * 100%) + 78px);  /* The same than calc(100% - 2 * ((25/79 * 100%) - 39px)); */
  }

  .order-tax-base,
  .order-tax-total {
    width: calc((25/79 * 100%) - 39px);
  }
}

@media all and (min-width: 801px) and (max-aspect-ratio: 125/100), (max-width: 800px) and (max-aspect-ratio: 10/16) {
  .orderline-price,
  .orderline-gross {
    width: 80px;
  }

  .orderline-productname {
    width: calc(100% - 225px);  /* The same than calc(100% - 65px - 2 * 80px); */
  }

  .orderline-characteristicsDescription {
    width: calc(100% - 160px);  /* The same than calc(100% - 2 * 80px); */
  }

  .order-total-label {
    width: calc(100% - 225px);  /* The same than calc(100% - 65px - 2 * 80px); */
  }

  .order-total-gross {
    width: 160px;
  }

  .order-tax-label {
    width: calc(100% - 160px);  /* The same than calc(100% - 2 * 80px); */
  }

  .order-tax-base,
  .order-tax-total {
    width: 80px;
  }
}
.productLine {
  padding: 0px 0px 6px 6px !important;
}

.productLine .productImgContainer {
  margin: 0px 8px 0px 0px;
  padding-top: 6px;
}

.productLine .productIdentifier {
  overflow: hidden;
  padding-top: 6px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.flex-customer-buttons-item {
  max-width: 70%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  background-color: #e2e2e2;
  color: black;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  height: 30px;
  margin: 10px;
  padding: 5px 15px 7px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  line-height: 18px;
}

.flex-customer-buttons-item-text {
  text-overflow: inherit;
  white-space: inherit;
  overflow: inherit;
}

.flex-customer-buttons-item-text-fullwidht {
  max-width: 100%;
}

.flex-customer-buttons-item-text-partialwidht {
  max-width: 90%;
}

.flex-customer-buttons-customer {
  flex-shrink: 1; /* To give more priority to the full customer visualization while start shrinking (just in case of large addresses) */
}

.flex-customer-buttons-addresses {
  flex-shrink: 10000; /* To give more priority to the full customer visualization while start shrinking (just in case of large addresses) */
  min-width: 53px;
}

.customer-buttons-separator {
  min-width: 5px;
  padding: 0px;
  margin: 0px;
}

.product_image{
    margin: 0 auto;
    display: block;
    max-width: 100%;
    max-height: 100%;
}