/*
 ************************************************************************************
 * Copyright (C) 2012-2017 Openbravo S.L.U.
 * Licensed under the Openbravo Commercial License version 1.0
 * You may obtain a copy of the License at http://www.openbravo.com/legal/obcl.html
 * or in the legal folder of this module distribution.
 ************************************************************************************
 */

/* Styles for login window in web POS */

.ob-body-standard {
  background-color: darkgray; 
  background: url('./../../org.openbravo.mobile.core/assets/img/BACKGROUND.svg') top left;
  background-size: 640px 384px;
}
